<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - NRDCL</title>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/sbadmin/css/sb-admin-2.css" rel="stylesheet" />
    <link href="~/css/sweetalert.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <nav id="navHeader" class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="navbar-header">
                <div class="form-group">
                    <div class="col-md-2">
                        <img style="padding:0px 0px 0px 0px;" src="~/images/logo.jpg" />
                    </div>
                    <div class="col-md-10">
                        <p style="margin-left: 25%" class="headerTxt">NRDCL Project</p>
                    </div>
                </div>
                <div class=""></div>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <div class="login-detail">
                        <label>Welcome::</label>
                        <i class="fa fa-user-md fa-fw"></i>
                        <label>Chundu Dorji(loginId)</label>
                        @*@User.Identity.Name *@
                    </div>
                </li>
                <li>
                    <a asp-controller="Login" asp-action="logout"><i class="fa fa-power-off"></i> Logout</a>
                </li>
            </ul>
            <br>
            <br>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="">
                            <a class="" asp-controller="Home" asp-action="Index" style="background-color: #004a80;color: #ffffff !important;"><i class="fa fa-home"></i>&nbsp;HOME</a>
                        </li>

                        <li>
                            <a asp-controller="Customer" asp-action="Index"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Customer</a>
                        </li>

                        <li>
                            <a asp-area="" asp-controller="Site" asp-action="Index"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Site</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Product" asp-action="Index"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Product</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Deposit" asp-action="Index"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Deposit</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Order" asp-action="Index"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Order</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Report" asp-action="Index"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Report</a>
                        </li>
                    </ul>
                </div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NRDCL</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse justify-content-between">
                    <ul class="navbar-nav">
                        <partial name="_LoginInfo"/>
                    </ul>
                    <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="Index">Customer</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Site" asp-action="Index">Site</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Product"
                                   asp-action="Index">Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Deposit"
                                   asp-action="Index">Deposit</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Order"
                                   asp-action="Index">Order</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Report"
                                   asp-action="Index">Report</a>
                            </li>
                            @*@<li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account"
                                   asp-action="Signup">Register</a>
                            </li>
                            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>*@
                        </ul>
</div>
            </div>
        </nav>
        <div id="page-wrapper">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - NRDCL - Thimphu Techpark Limited
            </div>
        </footer>

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sweetalert.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
