@model NRDCL.Models.Acc.ChangePasswordModel

@{
    ViewData["Title"] = "ChangePassword";
}

<div class="page_title">
    <span class="title">Password</span>
    <span class="subtitle">Change Password</span>
</div>
<br />
@if (ViewBag.IsSuccess != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.IsSuccess
    </div>
}
<form asp-action="ChangePassword" class="form-horizontal globalForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <fieldset>
        <legend>Enter Role Information</legend>
        <div class="form-group">
            <div class="col-md-2">
                <label asp-for="CurrentPassword" class="control-label"></label>
            </div>
            <div class="col-md-3">
                <input asp-for="CurrentPassword" class="form-control" tabindex="1" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <label asp-for="NewPassword" class="control-label"></label>
            </div>
            <div class="col-md-3">
                <input asp-for="NewPassword" class="form-control" tabindex="2" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <label asp-for="ConfirmNewPassword" class="control-label"></label>
            </div>
            <div class="col-md-3">
                <input asp-for="ConfirmNewPassword" class="form-control" tabindex="3" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class=" col-md-2">
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-block" style="color:white">Back</a>
            </div>
            <div class=" col-md-2">
                <input type="submit" value="Change Password" class="btn btn-primary btn-block" />
            </div>
        </div>
    </fieldset>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{
        if (ViewBag.IsSuccess != null)
        {
            <script type="text/javascript">
            $(function () {
                swal({
                        title: "@ViewBag.IsSuccess",
                        text: "Click OK to exit",
                        type: "success"
                    }, function (e) {
                        window.location.href ='@Url.Action("Index", "Home")';
                    });
            });
            </script>
        }
    }
}