@model NRDCL.Models.Acc.SignupUserModel
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sign In</title>
    <link href="~/css/login.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body id="bodyLogin">
    <div class="container">
        <div class="card card-container">
            <form asp-action="Signup" class="form-signin form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label col-md-4 required"></label>
                    <div class="col-md-8">
                        <input asp-for="Email" class="form-control" tabindex="1" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label col-md-4 required"></label>
                    <div class="col-md-8">
                        <input asp-for="Password" class="form-control" tabindex="2" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label col-md-4 required"></label>
                    <div class="col-md-8">
                        <input asp-for="ConfirmPassword" class="form-control" tabindex="2" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4"></label>
                    <div class="col-md-6">
                        <input type="submit" value="Sign Up" class="btn btn-primary btn-block" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4"></label>
                    <div class="col-md-6">
                        Click <a asp-action="Signin" asp-controller="Account">here</a> to login
                    </div>
                </div>
            </form>
        </div>
        </div>
    </body>
</html>
