<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxQueryString="2147483647"/>
			</requestFiltering>
		</security>
	</system.webServer>

	<system.web>
		<httpRuntime maxQueryStringLength="2097151"/>
	</system.web>
</configuration>