@model NRDCL.Models.Product

@{
    ViewData["Title"] = "Product";
    <link rel="stylesheet" href="~/css/Edit.css" />
}
<h4 class="title">Edit Product</h4>
<hr />
<section class="container-fluid bg"></section>
<section class="row justify-content-center">
    <section class="col-6 col-sm-6 col-md-6 col-xl-6 formBg">
        <form asp-action="Edit" class="form-container">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="ProductId" class="form-control" hidden />
            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerUnit" class="control-label"></label>
                <input asp-for="PricePerUnit" class="form-control" />
                <span asp-validation-for="PricePerUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportRate" class="control-label"></label>
                <input asp-for="TransportRate" class="form-control" />
                <span asp-validation-for="TransportRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-info">Back</a>
            </div>
        </form>
    </section>
</section>

<div class="modal fade" id="aModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                @ViewBag.Result
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary closedButton" data-dismiss="modal">OK</button>
                <button type="button" class="btn btn-secondary closedButton" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{
        if (ViewBag.Result != null)
        {
            <script type="text/javascript">
            $(function () {
                $("#aModal").modal('show');
            });

            $(".closedButton").click(function () {
                    window.location.href ='@Url.Action("Index", "Product")';
            });
            </script>
        }
    }
}
