@model NRDCL.Models.Site
@{
    ViewData["Title"] = "Site";
}
<div class="page_title">
    <span class="title">Site</span>
    <span class="subtitle">Edit Site</span>
</div>
<form asp-action="Edit" class="form-horizontal globalForm">
    <fieldset>
        <legend>Site Details</legend>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input type="hidden" asp-for="SiteId" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="CitizenshipID" class="control-label col-md-2 text-right required"></label>
            <div class="col-md-3">
                <input asp-for="CitizenshipID" class="form-control" tabindex="1" />
                <span asp-validation-for="CitizenshipID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SiteName" class="control-label col-md-2 text-right required"></label>
            <div class="col-md-3">
                <input asp-for="SiteName" class="form-control" tabindex="2" />
                <span asp-validation-for="SiteName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DistanceFrom" class="control-label col-md-2 text-right required"></label>
            <div class="col-md-3">
                <input asp-for="DistanceFrom" class="form-control" tabindex="3" />
                <span asp-validation-for="DistanceFrom" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class=" col-md-2">
            </div>
            <div class=" col-md-2">
                <input type="submit" value="Update" class="btn btn-primary btn-block" tabindex="4" />
            </div>
            <div class=" col-md-2">
                <a asp-action="Create" class="btn btn-info" tabindex="5">Back to List</a>
            </div>
        </div>
    </fieldset>
</form>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        @{
            if (ViewBag.Result != null)
            {
            <script type="text/javascript">
            $(function () {
                swal({
                        title: "@ViewBag.Result",
                        text: "Click OK to exit",
                        type: "success"
                    }, function (e) {
                        window.location.href ='@Url.Action("Create", "Site")';
                    });
            });
            </script>
            }
        }
    }
