@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Automation of NRDCL Services</h1><br>
    <h2>(ASP.NET MVC C# Programming Project)</h2>
</div>
<div class="row">
    </div>
