
<div class="row">
    <div class="container-fluid">
        <div class="col-md-12">
            <h3>
                <span class="label label-danger" style="margin-left:100px">You have no permission to show requested screen</span>
                <br /><br />
                <img src="~/images/accessdenied2.jpg" alt="accessdenied" width="300" height="300" 
                     style="border-radius:40%;margin-left:200px;margin-right:auto;display:block"/>
                <p>
                    <ul style="font-family:Times New Roman;" class="text-danger">
                        <li>
                            Please ask your administrator to provide access permission on requested screen.
                        </li>
                        <li>
                            After confirm permission has given, please logout and login again to get access to requested screen.
                        </li>
                    </ul>
                </p>
            </h3>
        </div>
    </div>
</div>
   

