@model NRDCL.Models.Deposit
@{
    ViewData["Title"] = "Deposit";
}
<div class="page_title">
    <span class="title">Deposit</span>
    <span class="subtitle">Deposit Advance</span>
</div>
<form asp-action="Create" class="form-horizontal globalForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <fieldset>
        <legend>Enter Deposit Information</legend>
        <div class="form-group">
            <label asp-for="CustomerID" class="control-label col-md-2 text-right required"></label>
            <div class="col-md-3">
                <input asp-for="CustomerID" class="form-control" tabindex="1" />
                <span asp-validation-for="CustomerID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastAmount" class="control-label col-md-2 text-right required"></label>
            <div class="col-md-3">
                <input asp-for="LastAmount" class="form-control" tabindex="2" />
                <span asp-validation-for="LastAmount" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class=" col-md-2">
            </div>
            <div class=" col-md-2">
                <input type="submit" value="Create" class="btn btn-primary btn-block" tabindex="3" />
            </div>
            <div class=" col-md-2">
                <a asp-action="Index" class="btn btn-info" tabindex="4">Back to List</a>
            </div>
        </div>
    </fieldset>
</form>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        @{
            if (ViewBag.Result != null)
            {
            <script type="text/javascript">
            $(function () {
                swal({
                    title: "@ViewBag.Result",
                        text: "Click OK to exit",
                        type: "success"
                    }, function (e) {
                        window.location.href ='@Url.Action("Index", "Deposit")';
                    });
            });
            </script>
            }
        }
    }
