section{
    padding: 20px;
}
.row{
    box-shadow: 10px black;
    border: 2px solid red;
}
body{
    background-image: url("/images/forest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}